<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MsSqlDbConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestData;Integrated Security=True" />
		<add name="NpgSqlDbConnectionString" connectionString="Server=localhost;Port=5432;Integrated Security=true;Database=test;" />
		<add name="MySqlDbConnectionString" connectionString="server=localhost;user id=root;password=Test!234;database=test;persistsecurityinfo=True;" />
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
			<add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version= 7.3.359.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
		</DbProviderFactories>
	</system.data>
</configuration>